In [7]:
import pandas as pd
pd.set_option('display.max_rows', 500)

In [21]:
my_data = pd.read_csv("gdp.csv")
my_data

,LOCATION,INDICATOR,SUBJECT,MEASURE,FREQUENCY,TIME,Value,Flag Codes
0,AUS,GDP,TOT,MLN_USD,A,1960,25071.833000,NaN
1,AUS,GDP,TOT,MLN_USD,A,1961,25363.455000,NaN
2,AUS,GDP,TOT,MLN_USD,A,1962,27953.904000,NaN
3,AUS,GDP,TOT,MLN_USD,A,1963,30431.547000,NaN
4,AUS,GDP,TOT,MLN_USD,A,1964,32742.466000,NaN
...,...,...,...,...,...,...,...,...
5159,SEN,GDP,TOT,USD_CAP,A,2016,3116.185752,NaN
5160,SEN,GDP,TOT,USD_CAP,A,2017,3238.212275,NaN
5161,SEN,GDP,TOT,USD_CAP,A,2018,3416.171427,NaN
5162,SEN,GDP,TOT,USD_CAP,A,2019,3530.096494,NaN
5163,SEN,GDP,TOT,USD_CAP,A,2020,3513.149951,NaN

In [22]:
def get_country_data(country, data = my_data):
    country_data = my_data[my_data["LOCATION"] == country]
    return country_data

def get_avg_gdp(country, data = my_data):
    values = [value for value in country["Value"]]
    return sum(values) / len(values)

In [39]:
my_countries = ["USA", "AUS", "FIN"]
for country in my_countries:
    print(country)
    current_data = get_country_data(country)
    avg_gdp = get_avg_gdp(current_data)
    gdp_array = [value for value in current_data["Value"]]
    print(f"GDP 2022: {gdp_array[-1]}")
    print(f"GDP 1960: {gdp_array[0]}")
    print(f"Average GDP : {avg_gdp}\n")

USA
GDP 2022: 70181.12175
GDP 1960: 1073303.0
Average GDP : 4675435.0565630505

AUS
GDP 2022: 61977.196179
GDP 1960: 25071.833
Average GDP : 245339.25213087918

FIN
GDP 2022: 54889.943483
GDP 1960: 15583.949
Average GDP : 75673.15149334616